@model IEnumerable<ShoppingCart.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    List<Category> categoryList = ViewBag.Categories;
}

<div class="text-lg-start">
    <h1>Ассортимент</h1>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LongDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @categoryList.First(i => i.Id == item.CategoryId).Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    <img src="./pictures/@item.Image" alt="@item.Image" width="100" height="100">
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><img src="./pictures/edit.png" width="20" height="20"></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><img src="./pictures/trash.png" width="20" height="20"></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="text-lg-end">
    <a asp-action="Create" class = "btn btn-primary">Добавить</a>
</div>

